* {
    margin: 0;
    padding: 0;
    color:#fff;
}
body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 17px;
    line-height: 1.6;
}

#showcase {
    background:url('../Landing/sebastian-banasiewcz-oXXc-s5nNy8-unsplash.jpg');
    height: 150vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding: 0 20px;
    
}

#showcase h1 {
    font-size:50px;
    
}
.container {
    margin: 30px 20px;
}